@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root{
    font-size: 62.5%;
    --primaryFont : 'DM Sans', sans-serif;
    --charSpace : 6px; 
    --primaryColor : #3e4152;
    --secondaryColor : #fafbfc;
}
body{
    font-family: var(--primaryFont);
    scroll-behavior: smooth;
}

body img{
    cursor: pointer;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
}

header {
  display: flex;
  height: 130px;
  background-color: #ffffff;
  justify-content: space-between;
  align-items: center;
  border-bottom: 40px solid #f3f3f3a4;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
}

.myntra_home {
  height: 48px;
}

.logo_container {
  margin-left: 5%;
}

.navbar {
  display: flex;
  min-width: 510px;
  justify-content: space-around;
}
.navbar a {
  height: 100%;
  font-size: 15px;
  letter-spacing: 0.3px;
  color: #282c3f;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 5px 18px 0px;
  border-bottom: 4px solid #ffffff;
  border-radius: 4%;
  
}
.navbar li{
  list-style-type: none;
}



.navbar li:hover a{
  border-bottom: 3.5px solid #ff3f6c;
}
.navbar li:nth-child(1):hover a{
  border-bottom: 3.5px solid #fb56c1;
}
.navbar li:nth-child(2):hover a{
  border-bottom: 3.5px solid #f26a10;
}
.navbar li:nth-child(3):hover a{
 border-bottom: 3.5px solid #f2c210;
}
.navbar li:nth-child(4):hover a{
 border-bottom: 3.5px solid #0db7af;
}
.navbar li:nth-child(5):hover a{
  border-bottom: 3.5px solid #f26a10;
}


.navbar a sup {
  color: #ff3f6c;
  font-size: 80%;
  top: -0.4rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.search_bar {
  height: 40px;
  min-width: 180px;
  width: 30%;
  display: flex;
  align-items: center;
}

.search_icon {
  background-color: #f5f5f6;
  height: 20px;
  width: 17px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 4px 0px 0px 4px;
  color: #282c3f;
}

.search_input {
  color: #696e79;
  background-color: #f5f5f6;
  flex-grow: 1;
  border-radius: 0px 4px 4px 0px;
  height: 40px;
  padding: 8px 10px 10px;
  border: 1px solid #f5f5f6;
  outline: 0;
  margin: 0;
  font-size: 14px;
}

.action_bar {
  display: flex;
  min-width: 200px;
  height: 55px;
  justify-content: space-evenly;
  margin-right: 4rem;
}

.action_icon {
  height: 12px;
  width: 12px;
  margin-bottom: 6px;
}

.action_name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 1rem;
}
.action_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}




/* banner image  */
.banner {
  margin: 2rem 0rem 4rem 0rem;
  /* margin-bottom: 3rem; */
}

.catogory_heading {
  text-transform: uppercase;
  letter-spacing: 0.15em;
  font-size: 1.8em;
  color: #3e4152;
  font-weight: 700;
  margin: 40px 0px 10px 50px;
  max-height: 5em;
  margin-bottom: 4rem;
}

/* sail items */
.Catogory_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.offer_items {
  height: 270px;
  width: 210px;
  margin: 3px;
  border-radius: 7px;
  border-bottom: 4px solid gray;
}

.grand_items {
  height: 240px;
  width: 200px;
  border-bottom: 2px solid rgb(217, 214, 214);
}

.cat_item {
  height: 250px;
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
  border: 3px solid grey;
}

/* footer */

.footer_container {
  padding: 30px 0px 40px 0px;
  background-color: #f2f3f4;
  justify-content: space-evenly;
  display: flex;
}
.footer_column {
  display: flex;
  flex-direction: column;
}

.footer_column a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
  font-weight: 500;
}
.footer_column > h3 {
  text-transform: uppercase;
  font-size: 1.8em;
  color: #3e4152;
  font-weight: 400;
}

.moble_store img {
  height: 60px;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 50px;
}

.sorcial_media i {
  margin-top: 10px;
  font-size: 2rem; 
}
.fa-facebook{
    color: blue;
}
.fa-youtube{
    color: red;
}


